.header {
    text-align: center;  
}

.bgcolour {
    background-color: tomato;
}

img {
    height: auto;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}

.h2 {
    text-align: center;
}

.steps-heading {
    text-align: center;
}

.ingredients {
    text-align: center;
}

.center{
    width:200px;
    margin:0 auto;
    text-align:left;
}

